---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "100% customizable",
    description:
      "Taylor-made for your business. No more generic chatbots that don't fit your needs.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Ultra-fast response times",
    description:
      "Cervant is built on top of the latest technologies, so you can be sure your chatbot will be blazing fast.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Easy to set up",
    description:
      "Cervant is easy to set up. Just follow the instructions and you'll be up and running in no time.",
    icon: "bx:bxs-data",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Sit back, relax, and let Cervant do the work.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Cervant comes batteries included. Bring your data, and we'll take care of the rest.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
