---
// @ts-ignore
import { Icon } from "astro-icon";
import features1 from "assets/features_1.webp";
import features2 from "assets/features_2.webp";
import features3 from "assets/features_3.webp";
import features4 from "assets/features_4.webp";
import features5 from "assets/features_5.webp";
import features6 from "assets/features_6.webp";



const features = [
  {
    title: "100% customizable",
    description:
      "Hecho a la medida para tu negocio. Dile adiós a los chatbots genéricos que no se adaptan a tus necesidades.",
    img: features1.src,
    alt: "100% customizable",
  },
  {
    title: "Tiempos de respuesta ultra-rápidos",
    description:
      "Cervant está construido sobre las últimas tecnologías, así que ya no tendrás que preocuparte por dejar a tus clientes esperando.",
    img: features2.src,
    alt: "Ultra-fast response times",
  },
  {
    title: "Fácil de configurar",
    description:
      "Cervant es muy sencillo de implementar. Sigue unos pocos pasos y tu chatbot estará listo para trabajar.",
    img: features3.src,
    alt: "Easy to set up",
  },
  {
    title: "Multi-lenguaje de fábrica",
    description: "Con Cervant, tu asistente virtual hablará naturalmente en cualquier idioma que tu cliente requiera.",
    img: features4.src,
    alt: "Multi-language out of the box", 
  },
  {
    title: "Chatbots humanizados",
    description: "Creado a partir de los más avanzados modelos de leguaje, Cervant es capaz de mantener conversaciones naturales con tus clientes. Despídete de las listas de opciones.",
    img: features5.src,
    alt: "Humanized chatbots",
  },
  {
    title: "Analíticas integradas",
    description: "Cervant viene con un dashboard integrado para que puedas monitorear el desempeño de tu empresa. Descubre qué es lo que tus clientes quieren, y cómo puedes mejorar su experiencia.",
    img: features6.src,
    alt: "Integrated analytics",
  }
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Siéntate, relájate, y deja que Cervant haga el trabajo.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Cervant viene con todo lo necesario. Trae tus datos, y nosotros nos encargamos del resto. 
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (

      <div class="flex flex-col gap-4 justify-items-center items-center max-w-1/3 overflow-hidden">
        <div class="mt-1 w-64 h-64 shrink-0 flex items-center ">
          <img src={item.img} alt={item.alt} width="450px">
        </div>
        <div>
          <h3 class="font-semibold text-lg text-center">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed text-center">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>

<style>
  
</style>
