---
import Icon from "astro-icon";
---

<footer class="my-20 flex flex-col items-center justify-center gap-2">
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} Kayratech Servicios. All rights reserved.
  </p>
  <p class="text-center text-sm text-red-500">
    <a href="\contact" class="hover:underline">
      Crea hoy tu chatbot con Cervant
    </a>
  </p>
  <div class="social">
    <a href="https://www.instagram.com/cervantchat/">
      <Icon name="mdi:instagram" class="w-6 h-6 text-gray-500 hover:text-gray-700 hover:opacity-60 transition-all" />
    </a>
    
  </div>
  <p class="text-center text-xs text-slate-500 mt-1">
    <a
    href="/credits"
    rel="noopener"
    class="hover:underline">
    Créditos de imágenes
  </a>
</p>
</footer>
