<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} Cervant. All rights reserved.
  </p>
  <p class="text-center text-sm text-red-500">
    <a href="\contact" class="hover:underline">
      Get started with Cervant
    </a>
  </p>
  <p class="text-center text-xs text-slate-500 mt-1">
    Made by <a
      href="https://web3templates.com"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Web3Templates
    </a>
  </p>
  <p class="text-center text-xs text-slate-500 mt-1">
    <a
      href="/credits"
      rel="noopener"
      class="hover:underline">
      Image credits
    </a>
  </p>
</footer>
